body, html {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  height: 100vh;
  width: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
